# The root directory that will house your db backup structure
ROOT_DIR="/home/steve"
# Server Info
MYSQL_SERVER="localhost"
MYSQL_USER="root"
MYSQL_PASS=""
# Tables to exclude from backups, separated by a space
EXCLUDE_LIST="information_schema performance_schema"
